.account-section {
    display: flex;
    align-items: center;
    justify-content: right;
}

.profile-section-body {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.profile-section-head {
    margin-right: 40px;
    background: white;
    border-radius: 15px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-menu-top-header {
	display: grid;
	grid-template-columns: 1fr 0.1fr;
	margin-bottom: 10px;
    height: 50px;
    align-items: center;
}