
.modal-wrap-button {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.button-submit-modal {
  width:140px;
  height:45px;
  font-family:'Roboto',sans-serif;
  font-size:11px;
  text-transform:uppercase;
  letter-spacing:2.5px;
  font-weight:500;
  color:#000;
  background-color:#fff;
  border:none;
  border-radius:45px;
  box-shadow:0px 8px 15px rgba(0,0,0,0.1);
  transition:all 0.3s ease 0s;
  cursor:pointer;
  outline:none;
  margin-top:30px;
}
.button-submit-modal:hover {
  background-color:#0D67FE;
  box-shadow:0px 15px 20px rgba(46,229,157,0.4);
  color:#fff;
  transform:translateY(-7px);
}
.ant-modal.css-dev-only-do-not-override-djtmh8.modal-alert-header.connect-wallet-account {
  margin-top:10% !important;
}
.label-title-metamask {
  text-align: start !important;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 17px;
}

button.wallet-connect-btn {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.08);
  height: 35px;
  padding: 0px 16px;
  border-radius: 14px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 14px;
}

.send-alert-body-content div {
  text-align: center;
  padding: 10px;
}

span.metamask-icon svg {
  height: 20px;
  width: 20px;
}

span.metamask-icon {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.wallet-connect-btn.Connecting.MetaMask {
  opacity: 50%;
}

.loader {
  display: ruby;
}

.spinner {
  height: 5vh;
  width: 5vh;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: rgba(0, 174, 239, 0.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  /* this avoid the spinner to be displayed when visible for a very short period of time */
  opacity: 0;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

.modal-alert-header.connect-wallet-account.email-loader-send .ant-modal-content {
  background: transparent;
  box-shadow: none;
}

.send-alert-body-content.connect-wallet-account-div.send-email .label-title-metamask {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.send-alert-body-content.send-email div {
  margin-left: 10px
}

.label-title-metamask.email-send-div {
  color: white;
}

.ant-modal-mask.SendEmailLoader {
  background-color: rgb(201 198 198 / 45%);
}

.profile-drop-imgchain{
  animation: key1 .3s ease infinite alternate;
}


@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

img.profile-drop-imgchain {
  height: 75px;
  width: 75px;
}