
.modal-wrap-button {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.button-submit-modal {
  width:140px;
  height:45px;
  font-family:'Roboto',sans-serif;
  font-size:11px;
  text-transform:uppercase;
  letter-spacing:2.5px;
  font-weight:500;
  color:#000;
  background-color:#fff;
  border:none;
  border-radius:45px;
  box-shadow:0px 8px 15px rgba(0,0,0,0.1);
  transition:all 0.3s ease 0s;
  cursor:pointer;
  outline:none;
  margin-top:30px;
}
.button-submit-modal:hover {
  background-color:#0D67FE;
  box-shadow:0px 15px 20px rgba(46,229,157,0.4);
  color:#fff;
  transform:translateY(-7px);
}
.ant-modal.modal-alert-header.connect-wallet-account {
  margin-top:10% !important;
}
.label-title-metamask {
  text-align: start !important;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 17px;
}

button.wallet-connect-btn {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.08);
  height: 35px;
  padding: 0px 16px;
  border-radius: 14px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 14px;
}

.send-alert-body-content div {
  text-align: center;
  padding: 10px;
}

span.metamask-icon svg {
  height: 20px;
  width: 20px;
}

span.metamask-icon {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.wallet-connect-btn.Connecting.MetaMask {
  opacity: 50%;
}

.loader {
  display: ruby;
}

.spinner {
  height: 5vh;
  width: 5vh;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: rgba(0, 174, 239, 0.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  /* this avoid the spinner to be displayed when visible for a very short period of time */
  opacity: 0;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

.modal-alert-header.connect-wallet-account.email-loader-send .ant-modal-content {
  background: transparent;
  box-shadow: none;
}

.send-alert-body-content.connect-wallet-account-div.send-email .label-title-metamask {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.send-alert-body-content.send-email div {
  margin-left: 10px
}

.label-title-metamask.email-send-div {
  color: white;
}

.ant-modal-mask.SendEmailLoader {
  background-color: rgb(201 198 198 / 45%);
}

.profile-drop-imgchain{
  animation: key1 .3s ease infinite alternate;
}


@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

img.profile-drop-imgchain {
  height: 200px;
  width: 200px;
}

/* HTML: <div class="loader"></div> */
.loader-value {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader-value::before,
.loader-value::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader-value::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader-value::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}

img.profile-drop-lock-loader {
  height: 250px;
}

.send-alert-body-content.connect-wallet-account-div.send-email .label-title-metamask.email-send-div , .send-alert-body-content.connect-wallet-account-div.send-email .img-key-lock {
  padding: 0;
  height: 110px;
}


.send-alert-body-content.connect-wallet-account-div.send-email .label-title-metamask.email-send-div.key , .send-alert-body-content.connect-wallet-account-div.send-email .img-key-lock.key {
  padding: 0;
  height: 70px;
}

img.profile-drop-imgchain.key {
  height: 100px;
  width: 100px;
}

form.form-class{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input.input-class {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button.button-class {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.button-class:hover {
  background-color: #0056b3;
}

span.cursor-pointer.span-close {
  display: flex;
  justify-content: right;
}


.ant-modal.modal-send-email-header.parent-div-content-reply-mail {
  width: auto;
  height: 565px;
  background: #DDDDDD;
  box-shadow: 0px 29px 81.1px rgba(0, 0, 0, 0.29);
  border-radius: 20px;
}
.ant-modal.modal-send-email-header.parent-div-content-reply-mail .ant-modal-content {
  background: transparent;
  box-shadow: none;
}

.email-username.reply-user {
  width: 870px;
  height: 40px;
  margin-top: 17px;
  display: flex;
  justify-content: normal;
}
.send-alert-body-content.reply-email-user div {
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}


input.reply-user-input {
  height: 23px;
  border: none;
  outline: none;
  width: 45rem;
}

.quil-text-editor {
  margin: 25px 0;
  background: white;
  border-radius: 15px;
  position: relative;
}

.email-username.reply-user span {
  display: flex;
}
.quil-text-editor .quill .ql-container.ql-snow .ql-editor {
  height: 16rem !important;
}

.send-reply-email {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  background: #DDDDDD;
  border-radius: 14px;
  cursor: pointer;
  width: 8rem;
}

/* ring loader */

/* HTML: <div class="loader"></div> */
.loader-ring-reply {
  width: 20px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader-ring-reply::before,
.loader-ring-reply::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader-ring-reply::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}

.label-title-check-box {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 40px;
}

.send-alert-body-content.connect-wallet-account-div.reply-email-user .email-username.reply-user {
  display: flex;
}