@import url(https://fonts.googleapis.com/css?family=Raleway);

h1.text-lg.font-semibold.sender {
    font-family: 'Raleway';
    font-size: 20px;
    padding-bottom: 15px;
    /* color: #5d5656; */
}

span.address-spn {
    font-size: 13px;
    color: #5e5e5e;
    white-space: nowrap;
    -webkit-font-smoothing: auto;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    padding-left: 5px;
}

h2.flex.flex-wrap.address-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.text-gray-800 {
    font-size: 15px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: normal;
    color: #1f1f1f;
    line-height: 20px;
}

time.text-gray-700 span {
    -webkit-font-smoothing: auto;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .75rem;
    letter-spacing: normal;
    color: #5e5e5e;
    display: block;
    line-height: 20px;
    margin: 0;
}

h2.flex.flex-wrap.address-element.address-element-header-content span {
    font-size: 10px;
}

.space-y-4 {
    padding-top: 15px;
}

h1.text-lg.font-semibold.sender.reply {
    padding: 0;
    float: right;
    margin-right: 35px;
    font-size: 10px;
    cursor: pointer;
}