.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0px;
    background-color: #27295D;
    transition: width 0.5s ease;
}

.sidebar__logo {
    place-items: center;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: self-end;
    padding: 15px;
    gap: 5px;
}

.sidebar__menu {
    position: relative;
    max-height: 25rem;
    overflow-y: auto;
    height: 12rem;
    padding-top: 20px;
    user-select: none;
}

.sidebar__menu__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.02rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    height: 50px;
    padding-left: 40px;
}

.sidebar__menu__item.active {
    color: #fff;
}

.sidebar__menu__item__icon {
    margin-right: 1rem;
}

.sidebar__menu__item__icon i {
    font-size: 1.75rem;
}

.sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #d3e3f8;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

span.email-span-sidebar {
    color: #0086ff;
}
.sidebar__menu__item__text {
    color: white;
}   

.child {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.child.keys-sidebar {
    display: grid;
    grid-template-columns: 40px 1fr;
}

/* .chil-div-sidbar {
    padding-left: 90px;
} */

span.custom-btn-add-fav {
    color: #0086ff;
    font-style: normal;
}

.child.keys-sidebar span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.child.keys-sidebar {
    padding-left: 90px;
}

.parent-hover-key-div .child.keys-sidebar {
    padding-left: 40px;
    padding-top: 8px;
}

.parent-hover-key-div {
    height: 50px;
    background: #d3e3f8;
    width: 230px;
    margin-left: 50px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.default-text-sidebar-key {
    color: white;
}

.compose-email-btn {
    display: flex;
    justify-content: space-evenly;
}

.compose-email-btn button {
    width: 230px;
    height: 54.37px;
    background: #56587f;
    border: 1px solid #56587f;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.08);
    border-radius: 27.184px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button span.compose {
    color: white;
    opacity: 100%;
    padding-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.sidebar-logout-section {
    display: flex;
    justify-content: center;
}

.sidebar-logout-section button {
    width: 135.28px;
    height: 37.46px;
    /* left: 49.56px; */
    top: 969.72px;
    background: #595b82;
    /* opacity: 44%; */
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.08);
    border-radius: 27.184px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor : pointer;
}

.sidebar__menu__item.parent-hover-key-div {
    padding: 0;
    margin-bottom: 0;
}

.sidebar__menu__item.parent-hover-key-div .sidebar__menu__item__text {
    color: #686c70;
}

/* CSS for sidebar collapse transition */
.sidebar-expanded {
    display: block;
    transition: width 0.5s ease; /* Adjust duration and timing function as needed */
    width : 320px
  }
  /* Adjust other styles as needed */
  
  .user-name-profile-name {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdc0c0;
  }


.parent-hover-key-div.child-value-render {
    margin-bottom: 8px;
    height: 45px;
}

.default-text-sidebar-key .child.keys-sidebar {
    padding-bottom: 12px;
}


.sidebar.sidebar-unexpanded {
    z-index: 2;
}

.sidebar.sidebar-expanded {
    animation: mymove 0.5s ;
}

@keyframes mymove {
     to{left: 0px;}
     from {left: -400px;}
}

.sidebar.sidebar-unexpanded {
    animation: mymmove 1s ;
}

@keyframes mymmove {
    from{left: 0px;}
     to {left: -400px;}
}


.chil-div-sidbar {
    position: relative;
    top: 0;
  }
  
  .chil-div-sidbar.active {
    animation: dropmove 0.3s;
  }
  
  @keyframes dropmove {
    from {
      top: -10px;
    }
    to {
      top: 0;
    }
  }

  svg.sv-fb-loader {
    padding-left: 50px;
}

.no-menu-top-header.absolute {
    position: absolute;
    top: 0px;
    left: 0;
}

button.open-btn-menu-home.absolute {
    background: transparent;
    display: flex;
}

/* folder CSS */
.folder-header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    color: white;
    padding-bottom: 15px;
}
.folder-div {
    height: 13rem;
}

.folder-header h4 {
    cursor: pointer;
    height: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.folder-header button {
    background: transparent;
    border: none;
    color: white;
}
/* folder CSS */

/* AddQuickAccessUser */
.div-class-foot-quick {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 16px;
    width: 80%;
    height: 100%;
    background: #FFFFFF;
    margin: 0 32px 10px;
    border-radius: 14px;
    justify-content: center;
}

.div-class-foot-quick-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    content: 1;
}

.circle-add-user {
    padding: 0px;
    width: 30px;
    height: 30px;
    background: #A5A5A5;
    border-radius: 1000px;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.ant-modal.modal-alert-header.add-quick-user-send-email .ant-modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 850px;
    height: auto;
    left: calc(50% - 850px / 2);
    top: calc(50% - 540px / 2);
    background: #DDDDDD;
    box-shadow: 0px 29px 81.1px rgba(0, 0, 0, 0.29);
    border-radius: 20px;
}

.email-username {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    width: 810px;
    height: 53.46px;
    background: #FFFFFF;
    border-radius: 14px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
    border: none;
    outline: none;
}

.send-alert-body-content.connect-wallet-account-div.footer-quick-send {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.ant-modal.modal-alert-header.add-quick-user-send-email {
    top: 200px;
}

button.save-quick-send-btn {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 168px;
    height: 53px;
    background: #DDDDDD;
    border-radius: 14px;
    border: none;
}
div.quick-user.name {
    width: 100%;
    height: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

div.quick-user.email {
    width: 100%;
    height: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 1px;
}
/* AddQuickAccessUser */
